
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white
}


#container {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.nav-link {
    color: #5bccf6 !important;
}


.master-nav {
    display: flex; 
    justify-content: space-between !important;
    font-size: 30px;
}

.nav-divider {
    color: black;
    border: 0.5px solid black;
    margin-bottom: 20px; 
    margin-top: 20px;
}



main {
    background-color: white;
}

.jumbotron {
    background-color: white;
    height: 100vh;
    font-family: Roboto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-4, .color:aqua {
    display: block;
}

main div h1 {
    text-indent: 450px;
    font-size: 80px !important;
}


.lead {
   
    
    
}

.media {
    height: 100vh;
    
}

.CV {
    display: flex;
    justify-content: center;
    
}

div h3 p {
    margin: 0 !important;
    margin-bottom: 0 !important;
}


.projects {
    /* height: 100vh; */
    padding-top: 100px;
    padding-bottom: 50vh;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    display: flex;
    justify-content: space-around;
    
}

.card img {
    height: 150px;
    width: 120px;
    text-align: center;
    text-indent: 50px;
}
 
.card-body {
    padding: 10px;
}

.card {
   display: flex;
   justify-content: center;
}
